.addItem-box {
  max-width: 500px;
  margin: 10% auto;
}

.addItem-box > h1 {
  font-size: 2em;
  color: #4F3274;
}

.addItem-form {
  padding: 35px;
  margin: 25px 0;
  background-color: #F9F5F1;
  border: 2px solid #F5EFE8;
  border-radius: 5px;
  box-shadow: 7px 7px 5px lightgray;
  
}

.add-amount-label,
.add-place-label,
.date {
  display: inline-block;
  font-size: 1.2em;
  padding-right: 3px;
}

.amount-input,
.place-input {
  border: 2px solid #71BA88;
  border-radius: .4em;
  height: 35px;
  width: 78%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.place-input {
  width: 82%;
}

.btn-addItem {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 17px;
  font-size: 1.2em;
  border: 2px solid #71BA88;
  background-color: #71BA88;
  border-radius: .4em;
  height: 41px;
  width: 140px;
}

.btn-addItem:hover {
  border: 2px solid #538863;
  background-color: #538863;
  color: white;
}

