.addItem-form {
  width: 70%;
  margin: 7% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.CalendarDay__highlighted_calendar {
  background: lavender;
  color: purple;
}

.CalendarDay__highlighted_calendar:hover {
  background: lavender;
  color: violet;
}

.CalendarDay__highlighted_calendar:active {
  background: papayawhip;
  color: purple;
}