.singleDatePicker {
  margin: 2px 0;
}

.SingleDatePickerInput  {
  border: 2px solid #71BA88;
  border-radius: .4em;
  height: 50px;
  width: 201px;
  text-align: center;
}


.DateRangePickerInput {
  border: 2px solid #71BA88;
  border-radius: .4em;
  height: 51px;
  width: 307px;
  padding: 3px 4px;
}

.DateInput {
  width: 120px;
}

.DateInput_input {
  width: 80%;
  font-size: 18px;
  padding: 10px 5px;
}

.DateRangePickerInput_arrow_sv {
  vertical-align: bottom;
}

.DateRangePickerInput_clearDates {
  top: 42%;
  margin: 0 15px 0 5px;
}

.CalendarMonth_caption {
  color: #4F3274;
  font-size: 21px;
}

.CalendarDay__highlighted_calendar {
  background: #BEDFC8;
}

.CalendarDay__highlighted_calendar:active {
  background: #BEDFC8;
}

.CalendarDay__selected_span {
  background: #BEDFC8;
  font-weight: bold;
  border: 1px solid lavender;
  color: black;
}

.DayPicker_weekHeader_ul {
  font-size: 19px;
}

.CalendarMonth_table {
  margin-top: 15px;
}

.CalendarDay,
.CalendarDay_1,
.CalendarDay__selected {
  padding: 5px;
}

@media screen and (max-width:768px) {
  .DateRangePickerInput {
  width: 293px;
}
}

/* Responsive for smartphones */
@media screen and (max-width: 425px) {
  .DateRangePickerInput {
    width: 250px;
    padding: 5px;
    height: 90px;
    margin-left: 34px;
  }

  .DateInput {
    width: 127px;
    text-align: center;
  }

  .DateInput_input {
    width: 80%;
    font-size: 17px;
    padding: 10px 5px;
  }

  .DateRangePickerInput_arrow_svg {
    display: none;
  }

  .DateRangePickerInput_clearDates{
    top: 50px;
    margin: 0 30px 0 5px;
  }
}

@media screen and (max-width: 375px) {
  .DateRangePickerInput {
    width: 232px;
    padding: 5px;
    height: 100px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .SingleDatePickerInput {
    width: 209px;
  }

  .DateRangePickerInput_arrow_sv {
    display: none;
  }

  .DateRangePickerInput {
    width: 220px;
    padding: 5px;
    height: 100px;
    margin-left: 10px;
  }
}