#item-page {
  margin: 7% auto;
  max-width: 800px;
  min-width: 300px;
  padding: 5px 20px;
}

.item-intro {
  font-size: 1em;
  padding: 15px;
  background-color: #F9F5F1;
  border: 2px solid #F5EFE8;
  border-radius: 5px;
  box-shadow: 7px 7px 5px lightgray;
  margin: 20px auto;
  width: 90%;
  margin-bottom: 40px;
}

.item-title {
  font-size: 2.2em;
  letter-spacing: 2px;
  color: #4F3274;
  margin: 60px 0;
}

.item-title strong {
  font-size: 1.6em;
}

/* limit section */
.limit-box {
  font-size: 1.1em;
  padding: 5px 15px;
}

.limit-box strong {
  color: #4F3274;
}

.btn-limit {
  display: inline-block;
}

.limit-alarm {
  color: salmon;
  font-family: 'Flamenco', cursive;
  font-size: 1.5em;
}

/* Add limit form */
.add-limit-box {
  padding: 25px 15px;
  margin: 25px 0;
  background-color: #F9F5F1;
  border: 2px solid #F5EFE8;
  border-radius: 5px;
  box-shadow: 7px 7px 5px lightgray;
}

.add-limit-box form{
  width: 110%;
  display: inline-block;
}

.btn-add-limit,
.btn-remove-limit,
.btn-cancel-limit {
  display: inline-block;
  margin-right: 2px;
  font-size: 1.1em;
  border: 2px solid #71BA88;
  background-color: #71BA88;
  border-radius: .4em;
  height: 41px;
  padding: 0 12px;
  font-weight: bold;
}

.btn-add-limit:hover,
.btn-remove-limit:hover,
.btn-cancel-limit:hover,
.btn-limit:hover, 
.btn-add-trns:hover,
.btn-show-hide:hover {
  border: 2px solid #538863;
  background-color: #538863;
  border-radius: .4em;
  cursor: pointer;
  font-size: 1.2em;
  color: white;
  transition: background-color 0.5s ease-in;
}

.btn-add-trns:hover a {
  color: white;
}

.btn-remove-limit {
  margin-right: 15px;
}

.btn-group-limit {
  margin: 0 auto;
  margin-top: 35px;
  width: 300px;
}

.add-limit-label {
  display: inline-block;
  font-size: 17px;
}

.add-limit-input {
  border: 2px solid #71BA88;
  border-radius: .4em;
  height: 35px;
  width: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-left: 10px;
  padding-left: 10px;
}

.add-edit-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 5px 30px;
}

.btn-limit, .btn-add-trns {
  display: inline-block;
  margin-right: 2px;
  font-size: 1.1em;
  border: 2px solid #71BA88;
  background-color: #BEDFC8;
  border-radius: .4em;
  padding: 0 10px;
  width: 40%;
  height: 45px;
}

.btn-add-trns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-trns a {
  color: black;
}

/* date range section */
.dateRange {
  padding: 23px;
  margin: 25px 0;
  background-color: #F9F5F1;
  border: 2px solid #F5EFE8;
  border-radius: 5px;
  box-shadow: 7px 7px 5px lightgray;
  font-size: 1em;
}

.btn-dateRange {
  display: inline-block;
  margin-left: 48px;
  margin-right: 7px;
  height: 59px;
  padding: 0 10px;
  background-color: #EFD9D5;
  font-size: 1.2em;
  width: 20%;
  border-radius: 0%;
}

.btn-dateRange:hover {
  border: 2px solid #CFAAA3;
  background-color: #CFAAA3;
  border-radius: .4em;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 1.2em;
  color: white;
  transition: background-color 0.5s ease-in;
}

.chart-box {
  margin: 35px 10px;
}

.btn-show-hide {
  margin: 25px auto;
  display: block;
  width: 50%; 
  font-size: 1.1em;
  border: 2px solid #71BA88;
  background-color: #BEDFC8;
  border-radius: .4em;
  height: 41px;
  padding: 0 10px;
  height: 45px;
}

/* transactions table */
.table {
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1em;
}

.table a,
.table a:visited {
  color: black;
}

td {
  border-bottom: 1px solid #71BA88;
  padding: 7px 20px;
}
th {
  background-color:#E8C6C0;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even){
  background-color:#F4E5E3;
}

tr:hover,
.table a:hover,
.btn-remove-transaction:hover {
  background-color: #71BA88;
  color: white;
  font-size: 1.05em;
  padding: 5px 15px;
}

.btn-remove-transaction {
  border: none;
  background:none;
  cursor: pointer;
  padding: 5px 7px;
  font-size: 1em;
}

@media screen and (max-width: 770px) {
  #item-page {
    margin: 11% auto;
    max-width: 700px;
  }

  .item-intro {
    margin-top: 35px;
  }

  .btn-dateRange {
    margin-left: 18px;
    margin-right: 0;
    margin-bottom: 4px;
    vertical-align: bottom;
  }

  .add-limit-input {
    width: 45%;
  }
  .table-box {
    width: 650px;
    margin: 15px auto;
  }
  td {
    padding: 4px 20px;
  }
}

/* Responsive for smartphones */
@media screen and (max-width: 425px) {
  #item-page {
    margin: 30% auto;
    max-width: 400px;
  }

  .item-intro {
    width: 92%;
    font-size: .9em;
  }

  .item-title {
    font-size: 1.7em;
    color: #4F3274;
  }

  .item-title strong {
    font-size: 1.5em;
  }

  .limit-box {
    font-size: .95em;
  }

  .add-edit-group {
    display: block;
    width: 300px;
    padding: 5px 15px;
    margin: 0 auto;
  }

  .btn-add-trns {
    font-size: .95em;
    line-height: 16px;
    width: 90%;
    height: 40px;
    margin-bottom: 30px;
  }

  .btn-limit {
    width: 96%;
    height: 40px;
    font-size: .95em;
  }

  .btn-dateRange {
    display: block;
    margin: 30px auto;
    font-size: 1.2em;
    width: 50%;
  }

  .add-limit-label {
    margin-bottom: 10px;
    display: block;
  }

  .add-limit-input {
    display: inline-block;
    margin: 0;
    width: 160px;
    margin-right: 10px;
  }

  .btn-add-limit {
    display: inline-block;
    width: 155px;
  }

  .btn-remove-limit {
    margin: 0 20px;
  }

  .btn-show-hide {
    font-size: 1em;
    width: 83%;
    margin: 0 auto;
    height: 40px;
  }

  .table-box {
    width: 380px;
    margin-top: 30px;
  }

  .table {
    font-size: .7em;
    padding: 0;
    margin: 0;
  }

  td {
    padding: 1px;
  }

  th {
    padding: 3px;
  }
}

@media screen and (max-width: 375px) {
  #item-page {
    margin-top: 40%;
    margin-left: 0;
    margin-right: 0;
  }

  .item-title {
    font-size: 1.5em;
    color: #4F3274;
    margin-top: 30px;
    padding-left: 20px;
    text-align: center;
 }

  .item-title strong {
    font-size: 1.3em;
  }

  .item-intro {
    margin: 0 auto;
    padding: 0 20px;
    width: 260px;
  }

  .limit-box {
    font-size: 1em;
    padding: 5px;
    width: 260px;
    margin: 0 auto;
  }

  .add-limit-box {
    width: 260px;
    padding: 20px;
    margin: 20px auto;
  }

  .add-limit-box form {
    width: 95%;
  }

  .add-limit-label {
    margin-bottom: 10px;
  }

  .add-limit-input {
    width: 99%;
    margin-right: 0;
    margin-left: 0;
  }

  .btn-add-limit {
    display: block;
    width: 105%;
    height: 35px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 1em;
  }

  .btn-group-limit {
    width: 95%;
    display: block;
    font-size: 1em;
    margin: 0;
  }

  .btn-remove-limit {
    margin: 10% 0;
    width: 105%;
    height: 35px;
  }

  .btn-cancel-limit {
    width: 105%;
    margin: 0;
    height: 35px;
  }

  .add-edit-group {
    margin: 0;
    padding: 0 30px;
  }

  .btn-add-trns {
    width: 225px;
    margin: 10px auto;
    margin-bottom: 25px;
    font-size: 1.1em;
  }

  .btn-limit {
    width: 245px;
    margin: 10px auto;
    display: block;
  }

  .dateRange {
    width: 265px;
    padding: 10px 20px;
    margin: 40px auto;
  }

  .btn-dateRange {
    width: 98%;
    font-size: 1em;
    height: 40px;
  }

  .chart-box {
    margin: 20px 0;
  }

  .table-box {
    width: 300px;
    font-size: .9em;
  }

  td, th {
    padding:0;
  }
}

@media screen and (max-width: 320px) {
  #item-page {
    margin-top: 40%;
  }

 .item-intro {
    padding: 15px;
    width: 270px;
  }

  .item-title {
    font-size: 1.5em;
    color: #4F3274;
    margin-top: 30px;
    padding-left: 20px;
    text-align: center;
  }

  .item-title strong {
    font-size: 1.3em;
  }

  .limit-box {
    font-size: 1em;
    padding: 5px;
  }

  .add-limit-box {
    padding: 10px 7px;
    margin: 15px 0;
  }

  .add-limit-box form {
    width: 95%;
  }

  .add-limit-label {
    margin-bottom: 10px;
  }

  .add-limit-input {
    width: 99%;
    margin-right: 0;
    margin-left: 0;
  }

  .btn-add-limit {
    display: block;
    width: 105%;
    height: 35px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 1em;
  }

  .btn-group-limit {
    width: 95%;
    display: block;
    font-size: 1em;
    margin: 0;
  }

  .btn-remove-limit {
    margin-bottom: 10%;
    margin-top: 10%;
    margin-right: 0;
    width: 105%;
    height: 35px;
  }

  .btn-cancel-limit {
    width: 105%;
    margin: 0;
    height: 35px;
  }

  .add-edit-group {
    margin: 0;
    padding: 0;
  }

  .btn-add-trns {
    width: 77%;
  }

  .btn-limit {
    width: 83%;
  }

  .dateRange {
    width: 250px;
    padding: 0 20px;
  }

  .btn-dateRange {
    width: 98%;
    font-size: 1em;
    height: 40px;
  }

  .chart-box {
    margin: 20px 0;
  }

  .table-box {
    font-size: .9em;
  }

  td {
    padding:0;
  }

  th {
    padding:0;
  }  
}