.App {
  /* background: url('/images/bg-coffee.jpg') no-repeat; */
  height: 100vh;
}

.App h2 {
  text-align: center;
  padding: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.articles > li {
  display: block;
  padding: 10px;
}