.App {
  height: 100vh;
}

.img1, .img2, .img3 {
  opacity: 0.80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed=>parallax scroll=>normal */
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  background-image: url('./coffeeBills.jpg');
  min-height: 90%;
}

.img2 {
  background-image: url('./coffeeCalc.jpg');
  min-height: 90%;
}

.img3 {
  background-image: url('./coffeeBeans.jpg');
  min-height: 600px;
}

.firstQuestion {
  font-size: 3.5em;
  text-shadow: 3px 3px 2px black;
  letter-spacing: 4px;
  line-height: 80px;
  color: rgb(102, 165, 122);
  align-self: center;
  max-width: 750px;
}

.home1, .home2 {
  display: flex;
  padding: 5%;
  justify-content: space-evenly;
  align-content: center;
  font-size: 1.1em;
  background-color: snow;
}

.home1-flex1 h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin:2px 0;
}

.home1-flex1 .left {
  text-align: right;
  font-size: 1em;
  margin: 0;
}

.home1-flex1, .home2-flex2 {
  width: 400px;
  padding: 5px;
}

.home2-flex2 img {
  display: block;
  margin: 0 auto;
}

.home-signup-btn {
  background-color: rgb(102, 165, 122);
  width: 110px;
  height: 45px;
  line-height: 30px;
  letter-spacing: 1px;
  border-radius: 4px;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-signup-btn:hover {
  background-color: rgb(88, 148, 107);
  border: 1px solid rgb(88, 148, 107);
}

.home-signup-btn a,
.home-signup-btn a:visited,
.home-signup-btn a:active {
  color: white;
}

 .box {
  background-color: snow;
  opacity: .9;
  border-radius: 10px;
  padding: 25px;
  width: 40%;
}

.question {
  font-size: 2.2em;
  color: black;
  letter-spacing: 2px;
  line-height: 40px;
  text-shadow: 3px 3px 2px #E5F2E9;
  padding-bottom: 10px;
  margin: 0;
}

.question2 {
  font-size: 1.3em;
  color: black;
  letter-spacing: 2px;
  line-height: 30px;
  text-shadow: 3px 3px 2px #E5F2E9;
}

blockquote {
  padding: 5px;
  margin: 5px;
  background-color: #F2F8F4;
}

blockquote footer {
  text-align: right;
  padding-right: 10px;
}

.curious-img {
  max-width: 300px;
  width: 100%;
}

.articles-title {
  font-size: 1.7em;
  color: black;
  letter-spacing: 2px;
  line-height: 30px;
  text-shadow: 3px 3px 2px #E5F2E9;
  margin-bottom: 10px;
}

.box a {
  font-size: 1.1em;
  color: black;
}

.articles {
  padding-left: 15px;
  font-size: 1em;
}

.articles li {
  padding: 7px 3px;
}


@media screen and (max-width: 768px) {
  .firstQuestion {
    padding: 0 30px;
    font-size: 3.2em;
  }
}

@media screen and (max-width: 425px) {
.img1, .img2, .img3 {
    background-image: url('./coffeeBeans.jpg');
    background-attachment: scroll;
  }

.App {
  margin-top: 25%;
}

.firstQuestion {
  font-size: 2.5em;
  letter-spacing: 2px;
  line-height: 55px;
}

 .box {
  width: 75%;
}

.question {
  font-size: 1.9em;
}

.home1-flex1, .home1,
.home2-flex2, .home2 {
  display: block;
  padding: 15px;
  width: 93%;
}
 .articles-title  {
  letter-spacing: 2px;
  line-height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}
}

@media screen and (max-width: 375px) {
.home1-flex1, .home1,
.home2-flex2, .home2 {
  display: block;
  padding: 15px;
  width: 90%;
}
}