nav {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #E5F2E9;
  border-bottom: 1px solid #F2F8F4;
  z-index: 10;
}

.titleName {
  padding-left: 30px;
  color: #3F285D; 
  font-size: 2em;
}

.nav-container {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 400px;
  padding: 0;
}

.btn-logout {
  border: none;
  background: none;
  padding: 0;
  color: black;
}

nav li {
  padding-left: 10px;
  font-size: 18px;
}


/* Responsive for tablet */
@media screen and (max-width: 770px) and (min-width: 450px) {
 nav ul {
   justify-content: flex-end;
 }
 .title {
  font-size: 1.9em;
  width: 20%;
}
}
/* Responsive for smartphone */
@media screen and (max-width: 430px) {
 nav ul {
   flex-direction: column;
   align-items: center;
 }
 .titleName {
  font-size: 1.8em;
}
}
