.login-form-wrapper {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 300px;
  margin: .4em auto;
  padding: 20px;
  border: 1px solid #E5F2E9;
  border-radius: 5px;
  background-color:  #F2F8F4;
  box-shadow: 7px 7px 5px lightgray;
}

.login-form-wrapper h1 {
  color: #4F3274;
  font-size: 2.5em;
}
.login-form > .btn,
.register-form > .btn {
  display: block;
  color: black;
  margin: 1em auto;
  width: 95%;
}

.form-error {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 2px;
  color: red;
}

.demo-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1em;
  text-align: left;
  margin-top: 25px;
}

.demo {
  padding: 5px;
  margin: 0;
}

.login-form input[type=text],
.login-form input[type=password] {
  width: 95%;
  height: 30px;
  line-height: .9em;
  display: inline-block;
  margin: 1em auto;
  background: transparent;
  padding: 0 5px;
  font-size: 1.1em;
}

.login-form .form-input {
  display: inline-block;
}

.form-input input {
  border: 2px solid #71BA88;
  border-radius: .4em;
}

.login-form label {
  display: inline-block;
  padding-top: 25px;
  padding-right: 5px;
  font-size: 1.1em;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
.login-form-wrapper,
.register-form-wrapper {
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}

@media screen and (max-width: 425px) {
.login-form, 
.register-form {
  width: 270px;
  padding: 10px;
}
.login-form label {
  display: block;
  padding: 0;
}
.login-wrapper {
  margin: 0 auto;
  padding-left: 5px;
}
.login-form input[type=text],
.login-form input[type=password]{
  width: 121%;
}
}