.login-form {
  width: 300px;
  margin: .4em auto;
  padding: 20px;
  border: 1px solid #E5F2E9;
  border-radius: 5px;
  background-color:  #F2F8F4;
  box-shadow: 7px 7px 5px lightgray;
}

.login-form > .btn {
  display: block;
  margin: 1em auto;
  width: 40%;
}

.login-wrapper {
  display: flex;
  justify-content: space-between;
}

.login-form-wrapper {
  margin-top: 5%;
}

.login-form-wrapper h1 {
  color: #4F3274;
  font-size: 2.3em;
}

.login-form input[type=text],
.login-form input[type=password] {
  width: 70%;
  height: 30px;
  line-height: .9em;
  display: inline-block;
  margin: 1em auto;
  background: transparent;
  padding: 0 5px;
  font-size: 1.1em;
}

.login-form .form-input {
  display: inline-block;
}

.form-input input {
  border: 2px solid #EFE4FF;
  border-radius: .4em;
}

.login-form label {
  display: inline-block;
  padding-top: 25px;
  font-size: 1.1em;
  font-weight: bold;
}
