.add-container {
  margin: 5% auto;
  max-width: 500px;
  min-width: 320px;
}

.btn {
  padding: 5px;
}

h3 {
  text-align: center;
}

.item-descr {
  padding: 3px 15px 3px 3px;
  display: inline-block;
  margin: 5px;
}
