html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: snow;
}

section {
  padding: 20px;
}

.container {
  margin: 7% auto;
  width: 320px;
}

h1 {
  text-align: center;
}

img {
margin: 5px auto;
display: block;
}

@media screen and (max-width: 430px) {
  main, section, p, ol {
    padding: 10px;
  }
  img {
    width: 60%;
  }
}