html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: snow;
  background: linear-gradient(to bottom right, azure, lavenderblush); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
  padding: 20px;
}

.container {
  margin: 7% auto;
  width: 320px;
}

h1 {
  text-align: center;
  font-family: 'Flamenco', cursive;
}

img {
margin: 5px auto;
display: block;
}

@media screen and (max-width: 430px) {
  main, section, p, ol {
    padding: 10px;
  }
  img {
    width: 60%;
  }
}