html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 7% 0 0 0;
  font-family: 'Lato', sans-serif;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

section {
  padding: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 7% auto;
  width: 320px;
}

h1 {
  text-align: center;
  font-family: 'Flamenco', cursive;
}

img {
margin: 5px auto;
display: block;
}

@media screen and (max-width: 430px) {
  main, section, p, ol {
    padding: 10px;
  }
  img {
    width: 60%;
  }
}